<form action="/lotteries/create" method="POST">
    <label>번호 1</label>
    <input type="number" name="num1">
    <br>
    <label>번호 2</label>
    <input type="number" name="num2">
    <br>
    <button>제출</button>
</form>